<a href="https://colab.research.google.com/github/minkyeongk/MachineLearning_Basic/blob/master/BostonHousePrice_Predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import library
import tensorflow as tf
import pandas as pd

In [4]:
# 1. prepare past data 
file_path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(file_path)
print(boston.columns)
boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [7]:
# separate independent and dependent variables
independent = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat']]
dependent = boston[['medv']]
print(independent.shape, dependent.shape)

(506, 13) (506, 1)

In [21]:
# 2. create model-structure 
x = tf.keras.layers.Input(shape=[13])
y = tf.keras.layers.Dense(1)(x)
model = tf.keras.models.Model(x, y)
model.compile(loss='mse')

In [22]:
# 3. model fitting 
model.fit(independent, dependent, epochs = 100000, verbose = 0)
model.fit(independent, dependent, epochs = 10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 22.6188
Epoch 2/10
16/16 [==============================] - 0s 977us/step - loss: 22.8169
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 22.3370
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 22.7917
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 22.2965
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 22.5471
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 22.1256
Epoch 8/10
16/16 [==============================] - 0s 996us/step - loss: 23.2182
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 22.4936
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 22.7740

In [23]:
# 4. use model
model.predict(independent[0:5])

array([[30.89043 ],
       [25.807285],
       [31.457674],
       [29.531271],
       [28.917608]], dtype=float32)

In [24]:
dependent[0:5]    # list slicing

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [25]:
# check the model's fomula (get weights)
model.get_weights()

[array([[-1.06440268e-01],
        [ 4.78432588e-02],
        [ 1.38036944e-02],
        [ 2.58216381e+00],
        [-1.55819035e+01],
        [ 4.00735712e+00],
        [ 5.82900713e-04],
        [-1.42383158e+00],
        [ 2.89945304e-01],
        [-1.06227305e-02],
        [-8.86007786e-01],
        [ 1.06292507e-02],
        [-5.17104030e-01]], dtype=float32), array([32.584927], dtype=float32)]