<a href="https://colab.research.google.com/github/minkyeongk/MachineLearning_Basic/blob/master/Lab5_1_HiddenLayer(Boston).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# apply hidden layer to Boston-exercise

# import library
import tensorflow as tf
import pandas as pd

In [6]:
# 1. prepare past data 
file_path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(file_path)
print(boston.columns)
boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [7]:
# separate independent and dependent variables
independent = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat']]
dependent = boston[['medv']]
print(independent.shape, dependent.shape)

(506, 13) (506, 1)

In [9]:
# 2. create model-structure 
x = tf.keras.layers.Input(shape=[13])
h = tf.keras.layers.Dense(10, activation='swish')(x)
y = tf.keras.layers.Dense(1)(h)
model = tf.keras.models.Model(x, y)
model.compile(loss='mse')

In [12]:
# check structure of model 
model.summary()

# 파라미터는 컴퓨터가 학습하는 가중치의 개수, 항이 13개에 bias 하나 
# 14 * 10 = 140, 140개의 가중치를 찾아야 한다

Model: "functional_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 13)]              0
_________________________________________________________________
dense_2 (Dense)              (None, 10)                140
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 11
=================================================================
Total params: 151
Trainable params: 151
Non-trainable params: 0
_________________________________________________________________

In [10]:
# 3. model fitting 
model.fit(independent, dependent, epochs = 100000, verbose = 0)
model.fit(independent, dependent, epochs = 10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 11.4674
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 11.8567
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 11.3367
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 11.2588
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 11.8734
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 11.1582
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 11.5634
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 11.4159
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 11.1886
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 11.1784

In [13]:
# 4. use model
model.predict(independent[0:5])

array([[27.49713 ],
       [24.252022],
       [31.085308],
       [30.15395 ],
       [30.699553]], dtype=float32)

In [14]:
dependent[0:5]    # list slicing

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [15]:
# check the model's fomula (get weights)
model.get_weights()

[array([[-2.83040404e-01,  2.19869542e+00, -4.34152484e-01,
         -8.31735134e-01,  3.84168684e-01,  4.09859002e-01,
          6.98834658e-02,  1.68356657e-01,  3.23951721e-01,
          4.52011228e-02],
        [ 1.07467048e-01, -4.00817811e-01, -2.06541896e-01,
          1.12195170e+00, -2.25764990e-01,  3.16105396e-01,
         -3.99900347e-01, -8.34294967e-03, -3.35077912e-01,
          4.19898570e-01],
        [ 6.53573811e-01,  1.89764965e-02, -4.09446180e-01,
         -8.46439674e-02, -2.19359726e-01, -1.53611410e+00,
         -3.31718326e-01,  9.28257167e-01,  4.42686081e-01,
          3.43919516e-01],
        [ 1.43820298e+00, -1.66529608e+00,  4.27764386e-01,
         -2.27710128e+00,  4.79945898e-01,  1.01785078e+01,
         -2.32001990e-01,  4.73555708e+00, -5.00790060e-01,
         -1.66296065e-01],
        [ 3.92130828e+00, -8.68224561e-01, -4.55078483e-01,
         -2.99352970e+01, -4.94185090e-01,  1.58198863e-01,
          3.66805673e-01, -9.01147938e+00,  3.37408423e-01,
          5.09181678e-01],
        [-1.06384096e+01, -9.98424530e+00,  4.55247104e-01,
         -2.84512401e+00, -6.16803169e-02, -4.01491970e-01,
         -4.17638689e-01, -2.41360950e+00,  5.37620187e-02,
         -7.19253421e-02],
        [ 6.47217482e-02, -3.27771574e-01, -2.69660056e-01,
          5.13533235e-01, -1.29201889e-01, -5.95205843e-01,
         -2.12824047e-01, -2.68746912e-01, -4.40073222e-01,
         -3.11731279e-01],
        [-2.58792877e-01,  1.78566888e-01,  4.68567282e-01,
         -1.45306702e+01,  1.15080595e-01, -8.90009180e-02,
          2.22797871e-01, -3.68511295e+00, -2.43999213e-01,
         -3.04535359e-01],
        [-1.92964822e-01, -2.70406127e+00,  2.09238723e-01,
         -5.60775697e-01,  3.58099639e-01,  4.19608212e+00,
         -1.09212428e-01, -9.58839834e-01, -1.03794128e-01,
          3.97846401e-01],
        [-1.18034221e-01,  8.23222175e-02, -4.81414944e-01,
          1.96182624e-01, -1.01454765e-01, -2.98449308e-01,
         -9.11217928e-03, -2.36648172e-01, -2.55219162e-01,
         -4.24887836e-01],
        [ 6.01661682e-01, -9.39961374e-01,  3.03925443e-02,
         -9.29535985e-01, -4.47940975e-01, -4.29699123e-01,
         -3.45503032e-01, -1.32532620e+00, -2.87377268e-01,
         -1.37648314e-01],
        [ 2.68519402e-01,  3.17774862e-01,  1.76137924e-01,
         -2.04574000e-02, -3.48995984e-01,  1.07799418e-01,
         -3.94655943e-01,  5.97751975e-01, -1.79878533e-01,
         -4.53572154e-01],
        [ 2.91194510e+00, -1.64194632e+00, -3.85908961e-01,
         -5.05072117e+00, -3.88199657e-01,  2.86606494e-02,
         -2.63315111e-01,  4.54787922e+00,  6.75025582e-02,
          1.90969765e-01]], dtype=float32),
 array([-5.9253535e+00,  3.6604772e+00, -2.0303242e-02,  5.3692503e+00,
         4.7145625e-22,  3.7970174e-02, -1.6148461e-11,  6.4564214e+00,
         0.0000000e+00,  0.0000000e+00], dtype=float32),
 array([[ -0.5853268 ],
        [ -0.19503939],
        [  0.33824328],
        [  0.5535772 ],
        [  0.23404616],
        [-28.261057  ],
        [ -0.03179687],
        [  0.30411744],
        [  0.6664931 ],
        [  0.12420565]], dtype=float32),
 array([13.068794], dtype=float32)]