<a href="https://colab.research.google.com/github/minkyeongk/MachineLearning_Basic/blob/master/Lab6_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 타입 조정

- 변수(칼럼) 타입 확인: 데이터.dtypes
- 변수를 범주형으로 변경 : 
  * 데이터['칼럼명'].astype('category')

- 변수를 수치형으로 변경 :
  * 데이터['칼럼명'].astype('int') 
  * 데이터['칼럼명'].astype('float')

- NA값의 처리 
  * NA 개수 체크: 데이터.isna().sum()
  * NA 값 채우기: 데이터['칼럼명'].fillna(특정 숫자)

In [1]:
import pandas as pd

In [3]:
file_path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris2.csv'
iris = pd.read_csv(file_path)
iris.head()
# 숫자로 범주형 데이터를 변형해놓은 상태

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [5]:
# 원핫인코딩 
onehot = pd.get_dummies(iris)
onehot.head()

# 원핫 인코딩 안됨 > 품종이 이미 숫자로 들어가 있어 판다스는 이를 숫자로 인식 (범주형 x)

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [6]:
# 칼럼의 데이터 타입 체크
print(iris.dtypes)

# dummies 가 원핫인코딩 하는 데이터는 타입이 카테고리거나 오브젝트일 경우만

꽃잎길이     float64
꽃잎폭      float64
꽃받침길이    float64
꽃받침폭     float64
품종         int64
dtype: object

In [7]:
# 품종 타입을 범주형으로 변환
iris['품종'] = iris['품종'].astype('category')
print(iris.dtypes)

꽃잎길이      float64
꽃잎폭       float64
꽃받침길이     float64
꽃받침폭      float64
품종       category
dtype: object

In [8]:
# 다시 원핫인코딩 
onehot = pd.get_dummies(iris)
onehot.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_0  품종_1  품종_2
0   5.1  3.5    1.4   0.2     1     0     0
1   4.9  3.0    1.4   0.2     1     0     0
2   4.7  3.2    1.3   0.2     1     0     0
3   4.6  3.1    1.5   0.2     1     0     0
4   5.0  3.6    1.4   0.2     1     0     0

In [9]:
# NA값 체크 (칼럼별)
iris.isna().sum()

꽃잎길이     0
꽃잎폭      1
꽃받침길이    0
꽃받침폭     0
품종       0
dtype: int64

In [10]:
iris.tail()

     꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭 품종
145   6.7  3.0    5.2   2.3  2
146   6.3  2.5    5.0   1.9  2
147   6.5  3.0    5.2   2.0  2
148   6.2  3.4    5.4   2.3  2
149   5.9  NaN    5.1   1.8  2

In [11]:
# NA값에 꽃잎폭 평균값을 넣어주기
mean = iris['꽃잎폭'].mean()
print(mean)
iris['꽃잎폭'] = iris['꽃잎폭'].fillna(mean)
iris.tail()

3.0543624161073835

     꽃잎길이       꽃잎폭  꽃받침길이  꽃받침폭 품종
145   6.7  3.000000    5.2   2.3  2
146   6.3  2.500000    5.0   1.9  2
147   6.5  3.000000    5.2   2.0  2
148   6.2  3.400000    5.4   2.3  2
149   5.9  3.054362    5.1   1.8  2