<a href="https://colab.research.google.com/github/minkyeongk/MachineLearning_Basic/blob/master/Lab7_2_BatchNomalization_Layer(Iris).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

학습이 잘 되는 모델
- 사용할 레이어
  *   tf.keras.layers.BatchNomalization()
  *   tf.keras.layers.Activation('swish')

In [21]:
# import library
import tensorflow as tf
import pandas as pd

In [22]:
# 1. prepare last data 
file_path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
iris = pd.read_csv(file_path)
iris.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa

In [23]:
# onehot-encoding
onehot = pd.get_dummies(iris)
onehot.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_setosa  품종_versicolor  품종_virginica
0   5.1  3.5    1.4   0.2          1              0             0
1   4.9  3.0    1.4   0.2          1              0             0
2   4.7  3.2    1.3   0.2          1              0             0
3   4.6  3.1    1.5   0.2          1              0             0
4   5.0  3.6    1.4   0.2          1              0             0

In [24]:
print(onehot.columns)

Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종_setosa', '품종_versicolor',
       '품종_virginica'],
      dtype='object')

In [25]:
# separate independent and dependent variables
independent = onehot[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
dependent = onehot[['품종_setosa', '품종_versicolor', '품종_virginica']]
print(independent.shape, dependent.shape)

(150, 4) (150, 3)

In [17]:
# 2. create structure of model
x = tf.keras.layers.Input(shape=[4])

# add 3 hidden layers
h = tf.keras.layers.Dense(8, activation='swish')(x)
h = tf.keras.layers.Dense(8, activation='swish')(h)
h = tf.keras.layers.Dense(8, activation='swish')(h)
y = tf.keras.layers.Dense(3, activation='softmax')(h)
model = tf.keras.models.Model(x, y)
model.compile(loss = 'categorical_crossentropy', metrics = 'accuracy')

In [19]:
# 2. create structure of model using BatchNomalization
# 이는 위 식과 동일, BatchNomalization을 dense layer와 activation layer 사이에 넣어주는 것이 좋기 때문에 분리 
x = tf.keras.layers.Input(shape=[4])

# add 3 hidden layers
h = tf.keras.layers.Dense(8)(x)
h = tf.keras.layers.BatchNormalization()(h)
h = tf.keras.layers.Activation('swish')(h)

h = tf.keras.layers.Dense(8)(h)
h = tf.keras.layers.BatchNormalization()(h)
h = tf.keras.layers.Activation('swish')(h)

h = tf.keras.layers.Dense(8)(h)
h = tf.keras.layers.BatchNormalization()(h)
h = tf.keras.layers.Activation('swish')(h)

y = tf.keras.layers.Dense(3, activation='softmax')(h)
model = tf.keras.models.Model(x, y)
model.compile(loss = 'categorical_crossentropy', metrics = 'accuracy')

# Batch 전: 0.04 에서0.05
# Batch 이후: 0.02 까지, accuracy 100프로가 나오기도 함

In [26]:
# 3. train model
model.fit(independent, dependent, epochs = 1000, verbose = 0)
model.fit(independent, dependent, epochs = 10)

Epoch 1/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0465 - accuracy: 0.9867
Epoch 2/10
5/5 [==============================] - 0s 2ms/step - loss: 0.1116 - accuracy: 0.9467
Epoch 3/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0144 - accuracy: 1.0000
Epoch 4/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0216 - accuracy: 0.9867
Epoch 5/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0184 - accuracy: 1.0000
Epoch 6/10
5/5 [==============================] - 0s 3ms/step - loss: 0.0360 - accuracy: 0.9867
Epoch 7/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0655 - accuracy: 0.9733
Epoch 8/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0207 - accuracy: 0.9933
Epoch 9/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0204 - accuracy: 0.9933
Epoch 10/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0213 - accuracy: 0.9867

In [27]:
# 4. use the model
model.predict(independent[0:5])

array([[1.0000000e+00, 2.2072845e-12, 7.9976967e-18],
       [1.0000000e+00, 1.7591589e-09, 7.6191005e-16],
       [1.0000000e+00, 4.3081311e-12, 2.9007863e-18],
       [1.0000000e+00, 9.6009722e-10, 2.1637090e-15],
       [1.0000000e+00, 2.9898737e-13, 3.6238708e-18]], dtype=float32)

In [28]:
print(dependent[0:5])

   품종_setosa  품종_versicolor  품종_virginica
0          1              0             0
1          1              0             0
2          1              0             0
3          1              0             0
4          1              0             0

In [29]:
model.predict(independent[-5:])

array([[4.0769226e-08, 8.9387586e-06, 9.9999106e-01],
       [1.2684015e-07, 2.4255760e-05, 9.9997556e-01],
       [1.3598599e-07, 3.7448877e-05, 9.9996245e-01],
       [8.3452868e-08, 3.3535809e-05, 9.9996638e-01],
       [1.6725449e-05, 3.8858291e-03, 9.9609751e-01]], dtype=float32)

In [30]:
print(dependent[-5:])

     품종_setosa  품종_versicolor  품종_virginica
145          0              0             1
146          0              0             1
147          0              0             1
148          0              0             1
149          0              0             1