<a href="https://colab.research.google.com/github/minkyeongk/MachineLearning_Basic/blob/master/Lab7_1_BatchNomalization_Layer(Boston).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

학습이 잘 되는 모델
- 사용할 레이어
  *   tf.keras.layers.BatchNomalization()
  *   tf.keras.layers.Activation('swish')

In [1]:
# import library
import tensorflow as tf
import pandas as pd

In [2]:
# 1. prepare past data 
file_path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(file_path)
print(boston.columns)
boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [3]:
# separate independent and dependent variables
independent = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat']]
dependent = boston[['medv']]
print(independent.shape, dependent.shape)

(506, 13) (506, 1)

In [ ]:
# 2. create model-structure 
x = tf.keras.layers.Input(shape=[13])
h = tf.keras.layers.Dense(8, activation='swish')(x)
h = tf.keras.layers.Dense(8, activation='swish')(h)
h = tf.keras.layers.Dense(8, activation='swish')(h)
y = tf.keras.layers.Dense(1)(h)
model = tf.keras.models.Model(x, y)
model.compile(loss='mse')

In [4]:
# 2. # 2. create structure of model using BatchNomalization
# 이는 위 식과 동일, BatchNomalization을 dense layer와 activation layer 사이에 넣어주는 것이 좋기 때문에 분리 
x = tf.keras.layers.Input(shape=[13])

# add 3 hidden layers
h = tf.keras.layers.Dense(8)(x)
h = tf.keras.layers.BatchNormalization()(h)
h = tf.keras.layers.Activation('swish')(h)

h = tf.keras.layers.Dense(8)(h)
h = tf.keras.layers.BatchNormalization()(h)
h = tf.keras.layers.Activation('swish')(h)

h = tf.keras.layers.Dense(8)(h)
h = tf.keras.layers.BatchNormalization()(h)
h = tf.keras.layers.Activation('swish')(h)

y = tf.keras.layers.Dense(1)(h)
model = tf.keras.models.Model(x, y)
model.compile(loss='mse')

In [7]:
# 3. model fitting 
model.fit(independent, dependent, epochs = 10000, verbose = 0)
model.fit(independent, dependent, epochs = 10)

Epoch 1/10
16/16 [==============================] - 0s 2ms/step - loss: 5.0170
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 5.9726
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 7.6325
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 6.0865
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 6.8914
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 6.4103
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 6.9566
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 5.6507
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 5.2026
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 5.1161

In [8]:
# 4. use model
model.predict(independent[0:5])

array([[22.092096],
       [20.979319],
       [32.943733],
       [30.665606],
       [32.2606  ]], dtype=float32)

In [ ]:
dependent[0:5]    # list slicing

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2