<a href="https://colab.research.google.com/github/minkyeongk/MachineLearning_Basic/blob/master/Lemonade_Sales_predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
# import library
import tensorflow as tf
import pandas as pd

In [14]:
# prepare data
file_path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
data = pd.read_csv(file_path)
data.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [15]:
# separate dependent and independent variables
independent = data[['온도']]
dependent = data[['판매량']]
print(independent.shape, dependent.shape)

(6, 1) (6, 1)

In [16]:
# create model

# shape num (1) == independent variable cnt
x = tf.keras.layers.Input(shape=[1])   

# dense num (1) == dependent variable cnt 
y = tf.keras.layers.Dense(1)(x)

model = tf.keras.models.Model(x,y)
model.compile(loss = 'mse')

In [18]:
# model fitting 
model.fit(independent, dependent, epochs=10) 

# verbose = 0 > no print
# e == 0.0001

Epoch 1/10
1/1 [==============================] - 0s 1ms/step - loss: 1.3882e-04
Epoch 2/10
1/1 [==============================] - 0s 4ms/step - loss: 1.3877e-04
Epoch 3/10
1/1 [==============================] - 0s 1ms/step - loss: 1.3876e-04
Epoch 4/10
1/1 [==============================] - 0s 2ms/step - loss: 1.3877e-04
Epoch 5/10
1/1 [==============================] - 0s 1ms/step - loss: 1.3876e-04
Epoch 6/10
1/1 [==============================] - 0s 2ms/step - loss: 1.3877e-04
Epoch 7/10
1/1 [==============================] - 0s 1ms/step - loss: 1.3882e-04
Epoch 8/10
1/1 [==============================] - 0s 2ms/step - loss: 1.3877e-04
Epoch 9/10
1/1 [==============================] - 0s 5ms/step - loss: 1.3876e-04
Epoch 10/10
1/1 [==============================] - 0s 2ms/step - loss: 1.3877e-04

In [19]:
# use the model
model.predict(independent)

array([[39.989506],
       [41.989002],
       [43.988503],
       [45.988003],
       [47.9875  ],
       [49.986996]], dtype=float32)

In [20]:
# compare with dependent value 
dependent

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [21]:
# use model to predict value
model.predict([[15]])

array([[29.992014]], dtype=float32)